body{
    font-family: 'Chivo Mono', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}
h1{
    text-align: center;
    font-size: 30px;
}
.gameboard{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 70%;
}

.square{
    display: flex;
    justify-content: center; 
    border: solid 3px black;
    align-items: center;
    height: 70px;
    font-size: 50px;
    text-align: center;
    font-weight: 600;
}

.square:hover{
    background-color: bisque;
 }

.square:nth-child(3n) {
    border-right: none;
  }
  
.square:nth-child(6) ~ .square {
    border-bottom: none;
  }

.square:nth-child(3n-2) {
    border-left: none;
}

.square:nth-child(1), .square:nth-child(2), .square:nth-child(3){
    border-top : none;
}

input{
    border-radius: 10px;
    border: none;
    padding: 5px 10px 5px;
    font-size: 14px;
    background-color: #fcfcfcbc;
}

input:focus{
    outline: none;
    border: solid 2px rgb(236, 131, 51);
    box-shadow: 1px 1px 2px 0px #04040433;;
}

label{
    font-weight: 500;
    font-size: 14px;
}

button{
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    padding: 5px;
    color: white;
    font-weight: 600;
    box-shadow: 1px 1px 2px 0px #04040433;;
}

#start-btn{
    background-color: green;
}

#restart-btn{
    background-color: red;
}

#start-btn:hover, #restart-btn:hover{
    background-color: #522f4f;
}

.result-container{
    font-size: 20px;
    color: blue;
    font-weight: 600;
}
